html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headPhoto {
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
  overflow: hidden;
  z-index: -1;
  filter: invert() brightness(40%) ;
}

.head {
  height: 300px;
  width: 100%;
  padding-top: 10px;
  align-items: center;
  text-align: center;
  color: rgb(75, 75, 75);
}

.headMobile {
  height: 300px;
  width: 100%;
  padding-top: 10px;
  align-items: center;
  text-align: center;
  color: rgb(59, 58, 58);
}

.albums {
  padding-top: 20px;
  height: fit-content;
  max-height: 50vh;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.albumCoverUpperItem {
  max-width: 300px;
  max-height: 300px;
  height: 15vw;
  width: 15vw;
  min-height: 150px !important;
  min-width: 150px !important;
  margin: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.albumCoverUpperItem:hover>.albumCoverImg{
  filter: brightness(50%);
  transform: scale(1.04);
  transform-origin: 50% 50%;
  transition: all 0.2s ease-in-out;
}
.albumCoverUpperItem>.albumCoverImg{
  filter: brightness(100%);
  transition: all 0.2s ease-in-out;
}

.albumCoverUpperItem {
  filter: brightness(100%);
  transition: all 0.2s ease-in-out;
}

.albumText{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  color: rgba(255, 255, 255, 0);
  transition: all 0.3s ease-in-out;
}

.albumCoverUpperItem:hover>.albumText {
  z-index: +1;
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
}


.mainContent {
  padding-top: 0;
  width: 100%;
  min-height: 75vh;
  align-items: center;
  text-align: center;
}

.footer{
  height: 10vh;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1598488035139-bdbb2231ce04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3R1ZGlvfGVufDB8fDB8fA%3D%3D&w=1000&q=80');
  filter: grayscale(90%);
  color: aliceblue;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}

.head>h1 {
  margin: 10px;
  font-size: 3.5rem;
  font-weight: 800;
}
.head>h1:hover {
  color: rgb(54, 53, 53);
}

.navigator {
  font-size: 2.5rem;
  font-weight: 300;
}
.submitButton>a>#text {
  background-color: gainsboro;
}

.submitButton>a {
  color: rgb(0, 0, 0);
  position: relative;
  margin: 20px;
  padding: 10px;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 300;
}

.submitButton>a::before {
  background: #A3E4DB;
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s ease-in-out;
  z-index: -1;
}

.navigator>a {
  color: rgb(83, 83, 83);
  position: relative;
  margin: 20px;
  padding: 10px;
  text-decoration: none;
}

.navigator>a::before {
  background: #e2610b;
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s ease-in-out;
  z-index: -1;
}
.navigator>a:hover, .submitButton>a:hover {
  cursor: pointer;
  color: beige;
  font-weight: 800;
}

.navigator>a:hover::before, .submitButton>a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.selectedNav {
  text-decoration: underline !important;
}

.formInfo{
  padding-top: 50px;
  margin: auto;
  max-width: 1000px;
  padding-inline: 20px;
  font-size: 1.3rem;
}

/*
MOBILE
*/

@media screen and (max-width: 1100px){
  .addMediumPaddingTop {
    margin-top: 30px;
  }

  .addLargePaddingTop {
    margin-top: 70px;
  }
  .addPaddingBottom {
    margin-bottom: 100px;
  }
  
  .aboutText{
    padding-top: 50px;
    padding-inline: 30px;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .aboutPhoto>img {
    width: 100%;
    max-height: 100%;
    object-fit: contain
  }

  .allWidthMid{
    margin-top: 20px;
    max-height: 300px;
    overflow: hidden;
  }
  .allWidthMid>img {
    max-width: 100%;
    max-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .form {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .form>p{
    padding-top: 20px;
  }
  .form>p>label {
    font-size: 1.3rem;
    font-weight: 800;
    padding-right: 20px;
  }

  .form>p>input,.form>p>textarea {
    min-height: 40px;
    width: 300px;
    font-size: 1.3rem;
    font-weight: 200;
    font-family: 'Roboto Mono', monospace;
  }
  .form>p>label {
    width: 300px;
    background-color: goldenrod;
  }
}

/*
DESKTOP
*/

@media screen and (min-width: 1100px) {
  .addMediumPaddingTop {
    margin-top: 100px;
  }

  .addLargePaddingTop {
    margin-top: 150px;
  }
  .addPaddingBottom {
    margin-bottom: 100px;
  }
  .aboutContent{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aboutPhoto{
    width: 50%;
    margin-inline:30px
  }

  .aboutPhoto>img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .aboutText{
    width: 40%;
    padding-inline: 10px;
    margin: 0 auto;
    text-align: left;
    font-size: 1.3rem;
  }

  .allWidthMid{
    max-height: 300px;
    overflow: hidden;
  }
  .allWidthMid>img {
    max-width: 100%;
    max-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    filter: hue-rotate(-140deg);
  }
  .form {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .form>p{
    padding-top: 20px;
  }
  .form>p>label {
    font-size: 1.3rem;
    font-weight: 800;
    padding-right: 20px;
  }

  .form>p>input,  .form>p>textarea {
    min-height: 40px;
    min-width: 300px;
    font-size: 1.3rem;
    font-weight: 200;
    font-family: 'Roboto Mono', monospace;
  }
}

.projectsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.projectItem{
  color: wheat;
  margin: 20px;
  width: 600px;
  height: 600px;
  background-image: url('https://images.unsplash.com/photo-1598488035139-bdbb2231ce04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3R1ZGlvfGVufDB8fDB8fA%3D%3D&w=1000&q=80');
  filter: grayscale(90%);
}

.projectItem:hover {
  filter: grayscale(0%);
  cursor: pointer;
}