html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  height: 15vh;
  width: 100%;
  padding: 10px;
  align-items: center;
  text-align: center;
}

.mainContent {
  padding-top: 20px;
  width: 100%;
  min-height: 75vh;
  align-items: center;
  text-align: center;
}

.footer{
  height: 10vh;
  width: 100%;
  background: #000000;
  color: beige;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}

.head>h1 {
  margin: 10px;
  font-size: 3.5rem;
  font-weight: 800;
}
.head>h1:hover {
  color: rgb(58, 58, 58);
}

.navigator {
  font-size: 2.5rem;
  font-weight: 300;
}

.navigator>a {
  color: #000;
  position: relative;
  margin: 20px;
  padding: 10px;
  text-decoration: none;
}

.navigator>a::before {
  background: #A3E4DB;
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s ease-in-out;
  z-index: -1;
}
.navigator>a:hover {
  cursor: pointer;
}

.navigator>a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.selectedNav {
  text-decoration: underline !important;
}

@media screen and (min-width: 1100px) {
  .aboutContent {

  }
  
  .aboutContentFirst, .aboutContentSecond {
    text-align: left;
    height: 500px;
  }

  .leftPhoto {
    max-width: 60%;
    float: left;
  }
  
  .rightText  {
    margin-left: 20px;
    max-width: 40%;
    float: left;
  }
  .rightPhoto {
    max-width: 60%;
    float: left;
  }
  
  .leftText  {
    margin-left: 20px;
    max-width: 40%;
    float: left;
  }
}


.projectsGrid {
  display: flex;
  flex-wrap: wrap;
}

.projectItem{
  margin: 20px;
  width: 500px;
  height: 600px;
}

.projectItem:hover {
  background-color: darkturquoise;
  cursor: pointer;
}